.callout[data-callout="axiom"] { --callout-color: 255, 0, 0; --callout-icon: lucide-box; }

.callout[data-callout="theorem"] { --callout-color: 255, 255, 255; --callout-icon: "<svg aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"asterisk\" class=\"svg-inline--fa fa-asterisk fa-w-16\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\"><path fill=\"currentColor\" d=\"M478.21 334.093L336 256l142.21-78.093c11.795-6.477 15.961-21.384 9.232-33.037l-19.48-33.741c-6.728-11.653-21.72-15.499-33.227-8.523L296 186.718l3.475-162.204C299.763 11.061 288.937 0 275.48 0h-38.96c-13.456 0-24.283 11.061-23.994 24.514L216 186.718 77.265 102.607c-11.506-6.976-26.499-3.13-33.227 8.523l-19.48 33.741c-6.728 11.653-2.562 26.56 9.233 33.037L176 256 33.79 334.093c-11.795 6.477-15.961 21.384-9.232 33.037l19.48 33.741c6.728 11.653 21.721 15.499 33.227 8.523L216 325.282l-3.475 162.204C212.237 500.939 223.064 512 236.52 512h38.961c13.456 0 24.283-11.061 23.995-24.514L296 325.282l138.735 84.111c11.506 6.976 26.499 3.13 33.227-8.523l19.48-33.741c6.728-11.653 2.563-26.559-9.232-33.036z\"></path></svg>"; }

.callout[data-callout="definition"] { --callout-color: 255, 0, 0; --callout-icon: "<svg aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"hashtag\" class=\"svg-inline--fa fa-hashtag fa-w-14\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 448 512\"><path fill=\"currentColor\" d=\"M440.667 182.109l7.143-40c1.313-7.355-4.342-14.109-11.813-14.109h-74.81l14.623-81.891C377.123 38.754 371.468 32 363.997 32h-40.632a12 12 0 0 0-11.813 9.891L296.175 128H197.54l14.623-81.891C213.477 38.754 207.822 32 200.35 32h-40.632a12 12 0 0 0-11.813 9.891L132.528 128H53.432a12 12 0 0 0-11.813 9.891l-7.143 40C33.163 185.246 38.818 192 46.289 192h74.81L98.242 320H19.146a12 12 0 0 0-11.813 9.891l-7.143 40C-1.123 377.246 4.532 384 12.003 384h74.81L72.19 465.891C70.877 473.246 76.532 480 84.003 480h40.632a12 12 0 0 0 11.813-9.891L151.826 384h98.634l-14.623 81.891C234.523 473.246 240.178 480 247.65 480h40.632a12 12 0 0 0 11.813-9.891L315.472 384h79.096a12 12 0 0 0 11.813-9.891l7.143-40c1.313-7.355-4.342-14.109-11.813-14.109h-74.81l22.857-128h79.096a12 12 0 0 0 11.813-9.891zM261.889 320h-98.634l22.857-128h98.634l-22.857 128z\"></path></svg>"; }

.callout[data-callout="proposition"] { --callout-color: 144, 192, 255; --callout-icon: math; }

.callout[data-callout="ex"] {
    --callout-color: #7d7d7d;
    border-width: 2px;
    border-color:#949494aa;
    --callout-icon: lucide-triangle;
}

.callout[data-callout="ex2"] {
    --callout-color: 255, 0, 0;
    background: #000000;
    border-width: 2px;
    border-color:#AA0000AA;
    --callout-icon: lucide-triangle;
}

.callout[data-callout="lemma"] { --callout-color: 144, 192, 255; --callout-icon: lucide-diamond; }

.callout[data-callout="corollary"] { --callout-color: 144, 192, 255; --callout-icon: lucide-diamond; }

.callout[data-callout="proof"] { 
    --callout-color: #00000000;
    --callout-icon: "<svg aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"square\" class=\"svg-inline--fa fa-square fa-w-14\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 448 512\"><path fill=\"currentColor\" d=\"M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z\"></path></svg>";
    /* border: none; */
    background: #00000000;
    padding: 0;
    border-style: solid;
    border-width: 5px;
    border-top-color: #00000000;
    border-left-color: #00000000;
    border-right-color: #00000000;
}

.callout[data-callout="solution"] { 
    --callout-color: #00000000;
    --callout-icon: "<svg aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"square\" class=\"svg-inline--fa fa-square fa-w-14\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 448 512\"><path fill=\"currentColor\" d=\"M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z\"></path></svg>";
    /* border: none; */
    background: #00000000;
    padding: 0;
    border-style: solid;
    border-width: 5px;
    border-top-color: #00000000;
    border-left-color: #00000000;
    border-right-color: #00000000;
}