.theme-dark {
  --background-primary:     #0D0E0E;
  --background-primary-alt: #0D0E0E;
  --background-secondary:   #0D0E0E;
  --background-secondary-alt: #0D0E0E;
  --titlebar-background:    #0D0E0E;
  --titlebar-background-focused: #0D0E0E;
  --ribbon-background:      #0D0E0E;

  --link-color:             #22aaee;
  --link-color-hover:       #22aaee;
  --link-external-color:    #22aaee;
  --link-external-color-hover: #22aaee;
  --link-unresolved-color:  #22aaee80;
}
